<header id="masthead" class="site-header fill-viewport-centered" role="banner">
	<div class="masthead-wrapper">
			<form role="search" method="get" class="search-form is-hidden" action="https://www.wise-ny.org/">
					<label>
							<span class="screen-reader-text">Search for:</span>
							<input type="search" class="search-field" placeholder="Search…" value="" name="s" title="Search for:">
					</label>
					<input type="submit" class="search-submit" value="Search">
			</form>
			<a href="https://www.wise-ny.org/" rel="home" class="site-title">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 427.6 133.5"
							enable-background="new 0 0 427.6 133.5" xml:space="preserve">
							<g>
									<path fill="#4D90CD" d="M120.2,129.2l-3.2-10.6h1.9l1.7,6.1l0.6,2.3c0-0.1,0.2-0.8,0.5-2.2l1.7-6.2h1.8l1.6,6.1l0.5,2l0.6-2
l1.8-6.1h1.7l-3.3,10.6h-1.9l-1.7-6.3l-0.4-1.8l-2.1,8.1H120.2L120.2,129.2z"></path>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="#4D90CD" d="M133.3,123.9c0-2,0.5-3.4,1.6-4.3c0.9-0.8,2-1.2,3.3-1.2
c1.5,0,2.6,0.5,3.6,1.4c0.9,0.9,1.4,2.3,1.4,3.9c0,1.4-0.2,2.4-0.6,3.2c-0.4,0.8-1,1.4-1.8,1.8c-0.8,0.4-1.6,0.6-2.5,0.6
c-1.5,0-2.7-0.5-3.6-1.4C133.8,127.1,133.3,125.7,133.3,123.9L133.3,123.9z M135.2,123.9c0,1.4,0.3,2.4,0.9,3c0.6,0.7,1.3,1,2.2,1
c0.9,0,1.6-0.3,2.2-1c0.6-0.7,0.9-1.7,0.9-3.1c0-1.3-0.3-2.3-0.9-3c-0.6-0.7-1.3-1-2.2-1c-0.9,0-1.6,0.3-2.2,1
C135.5,121.6,135.2,122.6,135.2,123.9L135.2,123.9z"></path>
									<path fill="#4D90CD" d="M146.3,129.2v-10.6h1.6v1.6c0.4-0.7,0.8-1.2,1.1-1.5c0.4-0.2,0.7-0.4,1.2-0.4c0.6,0,1.2,0.2,1.8,0.6
l-0.6,1.7c-0.4-0.3-0.9-0.4-1.3-0.4c-0.4,0-0.7,0.1-1.1,0.4c-0.3,0.2-0.5,0.6-0.7,1c-0.2,0.6-0.3,1.3-0.3,2.1v5.5H146.3
L146.3,129.2z"></path>
									<polygon fill="#4D90CD" points="154.1,129.2 154.1,114.6 155.9,114.6 155.9,122.9 160.2,118.6 162.5,118.6 158.4,122.6 
162.9,129.2 160.7,129.2 157.2,123.8 155.9,125 155.9,129.2 154.1,129.2 	"></polygon>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="#4D90CD" d="M165.3,116.7v-2.1h1.8v2.1H165.3L165.3,116.7z M165.3,129.2v-10.6
h1.8v10.6H165.3L165.3,129.2z"></path>
									<path fill="#4D90CD" d="M170.8,129.2v-10.6h1.6v1.5c0.8-1.2,1.9-1.7,3.4-1.7c0.6,0,1.2,0.1,1.8,0.3c0.5,0.2,0.9,0.5,1.2,0.9
c0.3,0.4,0.5,0.8,0.6,1.3c0.1,0.3,0.1,0.9,0.1,1.7v6.5h-1.8v-6.4c0-0.7-0.1-1.3-0.2-1.6c-0.1-0.4-0.4-0.7-0.7-0.9
c-0.4-0.2-0.8-0.3-1.2-0.3c-0.8,0-1.4,0.2-2,0.7c-0.6,0.5-0.8,1.4-0.8,2.8v5.8H170.8L170.8,129.2z"></path>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="#4D90CD" d="M182.8,130.1l1.7,0.3c0.1,0.5,0.3,0.9,0.6,1.2
c0.4,0.3,1.1,0.5,1.8,0.5c0.8,0,1.5-0.2,1.9-0.5c0.5-0.3,0.8-0.8,0.9-1.4c0.1-0.4,0.1-1.1,0.1-2.3c-0.8,0.9-1.8,1.4-2.9,1.4
c-1.5,0-2.6-0.5-3.4-1.6c-0.8-1-1.2-2.3-1.2-3.8c0-1,0.2-1.9,0.5-2.8c0.4-0.9,0.9-1.5,1.6-2c0.7-0.5,1.5-0.7,2.4-0.7
c1.2,0,2.3,0.5,3.1,1.5v-1.3h1.7v9.1c0,1.6-0.2,2.8-0.5,3.5c-0.3,0.7-0.9,1.2-1.6,1.6c-0.7,0.4-1.6,0.6-2.7,0.6
c-1.3,0-2.3-0.3-3.1-0.9C183.2,132.1,182.8,131.2,182.8,130.1L182.8,130.1z M184.3,123.7c0,1.4,0.3,2.4,0.8,3c0.6,0.6,1.2,1,2.1,1
c0.8,0,1.5-0.3,2.1-0.9c0.6-0.6,0.8-1.6,0.8-3c0-1.3-0.3-2.3-0.9-2.9c-0.6-0.7-1.3-1-2.1-1c-0.8,0-1.5,0.3-2,1
C184.6,121.5,184.3,122.5,184.3,123.7L184.3,123.7z"></path>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="#4D90CD" d="M202.2,116.7v-2.1h1.8v2.1H202.2L202.2,116.7z M202.2,129.2v-10.6
h1.8v10.6H202.2L202.2,129.2z"></path>
									<path fill="#4D90CD" d="M207.7,129.2v-10.6h1.6v1.5c0.8-1.2,1.9-1.7,3.4-1.7c0.6,0,1.2,0.1,1.8,0.3c0.5,0.2,0.9,0.5,1.2,0.9
c0.3,0.4,0.5,0.8,0.6,1.3c0.1,0.3,0.1,0.9,0.1,1.7v6.5h-1.8v-6.4c0-0.7-0.1-1.3-0.2-1.6c-0.1-0.4-0.4-0.7-0.7-0.9
c-0.4-0.2-0.8-0.3-1.2-0.3c-0.8,0-1.4,0.2-2,0.7c-0.6,0.5-0.8,1.4-0.8,2.8v5.8H207.7L207.7,129.2z"></path>
									<path fill="#4D90CD" d="M226,126.1l1.8-0.3c0.1,0.7,0.4,1.3,0.8,1.6c0.5,0.4,1.1,0.6,1.9,0.6c0.8,0,1.4-0.2,1.8-0.5
c0.4-0.3,0.6-0.7,0.6-1.2c0-0.4-0.2-0.7-0.5-1c-0.2-0.2-0.9-0.4-1.8-0.6c-1.3-0.3-2.2-0.6-2.7-0.9c-0.5-0.2-0.9-0.6-1.2-1
c-0.3-0.4-0.4-0.9-0.4-1.4c0-0.5,0.1-0.9,0.3-1.3c0.2-0.4,0.5-0.7,0.9-1c0.3-0.2,0.7-0.4,1.1-0.5c0.5-0.1,1-0.2,1.6-0.2
c0.8,0,1.6,0.1,2.2,0.4c0.6,0.2,1.1,0.6,1.4,1c0.3,0.4,0.5,0.9,0.6,1.6l-1.8,0.2c-0.1-0.5-0.3-1-0.7-1.3c-0.4-0.3-0.9-0.5-1.6-0.5
c-0.8,0-1.4,0.1-1.8,0.4c-0.4,0.3-0.5,0.6-0.5,1c0,0.2,0.1,0.4,0.2,0.6c0.1,0.2,0.4,0.4,0.7,0.5c0.2,0.1,0.7,0.2,1.6,0.5
c1.3,0.3,2.1,0.6,2.6,0.8c0.5,0.2,0.9,0.5,1.2,0.9c0.3,0.4,0.4,0.9,0.4,1.5c0,0.6-0.2,1.2-0.5,1.7c-0.3,0.5-0.8,0.9-1.5,1.2
c-0.7,0.3-1.4,0.4-2.2,0.4c-1.4,0-2.4-0.3-3.1-0.9C226.6,128,226.2,127.2,226,126.1L226,126.1z"></path>
									<path fill="#4D90CD" d="M244.8,129.2v-1.6c-0.8,1.2-1.9,1.8-3.4,1.8c-0.6,0-1.2-0.1-1.8-0.4c-0.5-0.2-0.9-0.5-1.2-0.9
c-0.3-0.4-0.4-0.8-0.5-1.3c-0.1-0.4-0.1-0.9-0.1-1.7v-6.5h1.8v5.9c0,0.9,0,1.6,0.1,1.9c0.1,0.5,0.4,0.8,0.7,1.1
c0.4,0.3,0.8,0.4,1.4,0.4c0.5,0,1-0.1,1.5-0.4c0.5-0.3,0.8-0.7,1-1.1c0.2-0.5,0.3-1.2,0.3-2.1v-5.7h1.8v10.6H244.8L244.8,129.2z"></path>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="#4D90CD" d="M250.2,133.3v-14.6h1.6v1.4c0.4-0.5,0.8-0.9,1.3-1.2
c0.5-0.3,1.1-0.4,1.8-0.4c0.9,0,1.7,0.2,2.4,0.7c0.7,0.5,1.2,1.1,1.6,2c0.4,0.8,0.5,1.8,0.5,2.8c0,1.1-0.2,2.1-0.6,2.9
c-0.4,0.9-0.9,1.5-1.7,2c-0.7,0.5-1.5,0.7-2.3,0.7c-0.6,0-1.1-0.1-1.6-0.4c-0.5-0.3-0.9-0.6-1.2-1v5.1H250.2L250.2,133.3z
M251.8,124c0,1.4,0.3,2.4,0.8,3c0.5,0.7,1.2,1,2,1c0.8,0,1.5-0.3,2-1c0.6-0.7,0.9-1.7,0.9-3.1c0-1.3-0.3-2.4-0.8-3
c-0.6-0.7-1.2-1-2-1c-0.8,0-1.4,0.4-2,1.1C252.1,121.6,251.8,122.6,251.8,124L251.8,124z"></path>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="#4D90CD" d="M262.5,133.3v-14.6h1.6v1.4c0.4-0.5,0.8-0.9,1.3-1.2
c0.5-0.3,1.1-0.4,1.8-0.4c0.9,0,1.7,0.2,2.4,0.7c0.7,0.5,1.2,1.1,1.6,2c0.4,0.8,0.5,1.8,0.5,2.8c0,1.1-0.2,2.1-0.6,2.9
c-0.4,0.9-0.9,1.5-1.7,2c-0.7,0.5-1.5,0.7-2.3,0.7c-0.6,0-1.1-0.1-1.6-0.4c-0.5-0.3-0.9-0.6-1.2-1v5.1H262.5L262.5,133.3z
M264.2,124c0,1.4,0.3,2.4,0.8,3c0.6,0.7,1.2,1,2,1c0.8,0,1.5-0.3,2-1c0.6-0.7,0.9-1.7,0.9-3.1c0-1.3-0.3-2.4-0.8-3
c-0.6-0.7-1.2-1-2-1c-0.8,0-1.4,0.4-2,1.1C264.5,121.6,264.2,122.6,264.2,124L264.2,124z"></path>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="#4D90CD" d="M274.2,123.9c0-2,0.5-3.4,1.6-4.3c0.9-0.8,2-1.2,3.3-1.2
c1.5,0,2.6,0.5,3.6,1.4c0.9,0.9,1.4,2.3,1.4,3.9c0,1.4-0.2,2.4-0.6,3.2c-0.4,0.8-1,1.4-1.8,1.8c-0.8,0.4-1.6,0.6-2.5,0.6
c-1.5,0-2.7-0.5-3.6-1.4C274.7,127.1,274.2,125.7,274.2,123.9L274.2,123.9z M276.1,123.9c0,1.4,0.3,2.4,0.9,3c0.6,0.7,1.3,1,2.2,1
c0.9,0,1.6-0.3,2.2-1c0.6-0.7,0.9-1.7,0.9-3.1c0-1.3-0.3-2.3-0.9-3c-0.6-0.7-1.3-1-2.2-1c-0.9,0-1.6,0.3-2.2,1
C276.3,121.6,276.1,122.6,276.1,123.9L276.1,123.9z"></path>
									<path fill="#4D90CD" d="M287.2,129.2v-10.6h1.6v1.6c0.4-0.7,0.8-1.2,1.1-1.5c0.4-0.2,0.7-0.4,1.2-0.4c0.6,0,1.2,0.2,1.8,0.6
l-0.6,1.7c-0.4-0.3-0.9-0.4-1.3-0.4c-0.4,0-0.7,0.1-1.1,0.4c-0.3,0.2-0.5,0.6-0.7,1c-0.2,0.6-0.3,1.3-0.3,2.1v5.5H287.2
L287.2,129.2z"></path>
									<path fill="#4D90CD" d="M298.9,127.6l0.3,1.6c-0.5,0.1-1,0.2-1.4,0.2c-0.7,0-1.2-0.1-1.5-0.3c-0.4-0.2-0.6-0.5-0.8-0.8
c-0.1-0.3-0.2-1-0.2-2.1V120H294v-1.4h1.3V116l1.8-1.1v3.7h1.8v1.4h-1.8v6.2c0,0.5,0,0.8,0.1,1c0.1,0.1,0.2,0.3,0.3,0.3
c0.1,0.1,0.4,0.1,0.6,0.1C298.3,127.7,298.6,127.7,298.9,127.6L298.9,127.6z"></path>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="#4D90CD" d="M307.7,123.9c0-2,0.5-3.4,1.6-4.3c0.9-0.8,2-1.2,3.3-1.2
c1.5,0,2.6,0.5,3.6,1.4c0.9,0.9,1.4,2.3,1.4,3.9c0,1.4-0.2,2.4-0.6,3.2c-0.4,0.8-1,1.4-1.8,1.8c-0.8,0.4-1.6,0.6-2.5,0.6
c-1.5,0-2.7-0.5-3.6-1.4C308.1,127.1,307.7,125.7,307.7,123.9L307.7,123.9z M309.5,123.9c0,1.4,0.3,2.4,0.9,3c0.6,0.7,1.3,1,2.2,1
c0.9,0,1.6-0.3,2.2-1c0.6-0.7,0.9-1.7,0.9-3.1c0-1.3-0.3-2.3-0.9-3c-0.6-0.7-1.3-1-2.2-1c-0.9,0-1.6,0.3-2.2,1
C309.8,121.6,309.5,122.6,309.5,123.9L309.5,123.9z"></path>
									<path fill="#4D90CD" d="M321.1,129.2V120h-1.6v-1.4h1.6v-1.1c0-0.7,0.1-1.2,0.2-1.6c0.2-0.5,0.5-0.8,0.9-1.1c0.4-0.3,1-0.4,1.8-0.4
c0.5,0,1.1,0.1,1.7,0.2l-0.3,1.6c-0.4-0.1-0.7-0.1-1.1-0.1c-0.5,0-0.9,0.1-1.2,0.3c-0.2,0.2-0.3,0.7-0.3,1.3v1h2.1v1.4h-2.1v9.2
H321.1L321.1,129.2z"></path>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="#4D90CD" d="M341.2,125.8l1.9,0.2c-0.3,1.1-0.8,1.9-1.6,2.5
c-0.8,0.6-1.8,0.9-3,0.9c-1.5,0-2.8-0.5-3.7-1.4c-0.9-1-1.4-2.3-1.4-4c0-1.8,0.5-3.2,1.4-4.1c0.9-1,2.1-1.5,3.6-1.5
c1.4,0,2.6,0.5,3.5,1.4c0.9,1,1.3,2.3,1.3,4.1c0,0.1,0,0.3,0,0.5h-7.9c0.1,1.2,0.4,2,1,2.7c0.6,0.6,1.3,0.9,2.2,0.9
c0.7,0,1.2-0.2,1.7-0.5C340.6,127.1,340.9,126.6,341.2,125.8L341.2,125.8z M335.3,122.9h5.9c-0.1-0.9-0.3-1.6-0.7-2
c-0.6-0.7-1.3-1-2.2-1c-0.8,0-1.5,0.3-2.1,0.8C335.7,121.3,335.4,122,335.3,122.9L335.3,122.9z"></path>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="#4D90CD" d="M353.2,129.2v-1.3c-0.7,1-1.7,1.6-3,1.6c-0.8,0-1.6-0.2-2.3-0.7
c-0.7-0.5-1.3-1.1-1.6-1.9c-0.4-0.8-0.6-1.8-0.6-2.9c0-1.1,0.2-2,0.5-2.9c0.4-0.9,0.9-1.5,1.6-2c0.7-0.5,1.5-0.7,2.4-0.7
c0.6,0,1.2,0.1,1.7,0.4c0.5,0.3,0.9,0.6,1.2,1v-5.2h1.8v14.6H353.2L353.2,129.2z M347.5,123.9c0,1.4,0.3,2.4,0.9,3
c0.6,0.7,1.2,1,2,1c0.8,0,1.4-0.3,2-1c0.6-0.6,0.8-1.6,0.8-2.9c0-1.4-0.3-2.5-0.8-3.2c-0.6-0.7-1.2-1-2.1-1c-0.8,0-1.5,0.3-2,1
C347.8,121.5,347.5,122.5,347.5,123.9L347.5,123.9z"></path>
									<path fill="#4D90CD" d="M365.6,129.2v-1.6c-0.8,1.2-1.9,1.8-3.4,1.8c-0.6,0-1.2-0.1-1.8-0.4c-0.5-0.2-0.9-0.5-1.2-0.9
c-0.3-0.4-0.4-0.8-0.5-1.3c-0.1-0.4-0.1-0.9-0.1-1.7v-6.5h1.8v5.9c0,0.9,0,1.6,0.1,1.9c0.1,0.5,0.4,0.8,0.7,1.1
c0.4,0.3,0.8,0.4,1.4,0.4c0.5,0,1-0.1,1.5-0.4c0.5-0.3,0.8-0.7,1-1.1c0.2-0.5,0.3-1.2,0.3-2.1v-5.7h1.8v10.6H365.6L365.6,129.2z"></path>
									<path fill="#4D90CD" d="M377.9,125.3l1.8,0.2c-0.2,1.2-0.7,2.2-1.5,2.9c-0.8,0.7-1.8,1-2.9,1c-1.4,0-2.6-0.5-3.5-1.4
c-0.9-0.9-1.3-2.3-1.3-4.1c0-1.1,0.2-2.1,0.6-3c0.4-0.9,1-1.5,1.7-1.9c0.8-0.4,1.6-0.6,2.5-0.6c1.1,0,2.1,0.3,2.8,0.9
c0.7,0.6,1.2,1.4,1.4,2.5l-1.7,0.3c-0.2-0.7-0.5-1.2-0.9-1.6c-0.4-0.4-0.9-0.5-1.5-0.5c-0.9,0-1.6,0.3-2.2,1
c-0.6,0.6-0.8,1.7-0.8,3.1c0,1.4,0.3,2.5,0.8,3.1c0.5,0.6,1.3,1,2.1,1c0.7,0,1.3-0.2,1.8-0.6C377.4,126.9,377.7,126.2,377.9,125.3
L377.9,125.3z"></path>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="#4D90CD" d="M389.1,127.9c-0.7,0.6-1.3,1-1.9,1.2c-0.6,0.2-1.3,0.3-2,0.3
c-1.2,0-2.1-0.3-2.7-0.8c-0.6-0.6-0.9-1.3-0.9-2.2c0-0.5,0.1-1,0.3-1.4c0.2-0.4,0.5-0.8,0.9-1c0.4-0.3,0.8-0.5,1.3-0.6
c0.4-0.1,0.9-0.2,1.6-0.3c1.4-0.2,2.5-0.4,3.2-0.6c0-0.2,0-0.4,0-0.5c0-0.7-0.2-1.2-0.5-1.5c-0.5-0.4-1.1-0.6-2-0.6
c-0.8,0-1.5,0.1-1.9,0.4c-0.4,0.3-0.7,0.8-0.9,1.6l-1.8-0.2c0.2-0.7,0.4-1.4,0.8-1.8c0.4-0.5,0.9-0.8,1.6-1.1
c0.7-0.3,1.5-0.4,2.4-0.4c0.9,0,1.6,0.1,2.2,0.3c0.6,0.2,1,0.5,1.2,0.8c0.3,0.3,0.5,0.7,0.6,1.2c0.1,0.3,0.1,0.9,0.1,1.7v2.4
c0,1.7,0,2.7,0.1,3.2c0.1,0.4,0.2,0.9,0.5,1.3h-1.9C389.2,128.8,389.1,128.4,389.1,127.9L389.1,127.9z M388.9,123.9
c-0.7,0.3-1.6,0.5-2.9,0.7c-0.7,0.1-1.3,0.2-1.6,0.4c-0.3,0.1-0.5,0.3-0.7,0.6c-0.2,0.3-0.2,0.5-0.2,0.8c0,0.5,0.2,0.9,0.5,1.2
c0.4,0.3,0.9,0.5,1.6,0.5c0.7,0,1.3-0.1,1.8-0.4c0.5-0.3,0.9-0.7,1.2-1.2c0.2-0.4,0.3-1,0.3-1.8V123.9L388.9,123.9z"></path>
									<path fill="#4D90CD" d="M398.4,127.6l0.3,1.6c-0.5,0.1-1,0.2-1.4,0.2c-0.7,0-1.2-0.1-1.5-0.3c-0.4-0.2-0.6-0.5-0.8-0.8
c-0.1-0.3-0.2-1-0.2-2.1V120h-1.3v-1.4h1.3V116l1.8-1.1v3.7h1.8v1.4h-1.8v6.2c0,0.5,0,0.8,0.1,1c0.1,0.1,0.2,0.3,0.3,0.3
c0.1,0.1,0.4,0.1,0.6,0.1C397.8,127.7,398.1,127.7,398.4,127.6L398.4,127.6z"></path>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="#4D90CD" d="M401.2,116.7v-2.1h1.8v2.1H401.2L401.2,116.7z M401.2,129.2v-10.6
h1.8v10.6H401.2L401.2,129.2z"></path>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="#4D90CD" d="M406,123.9c0-2,0.5-3.4,1.6-4.3c0.9-0.8,2-1.2,3.3-1.2
c1.5,0,2.6,0.5,3.6,1.4c0.9,0.9,1.4,2.3,1.4,3.9c0,1.4-0.2,2.4-0.6,3.2c-0.4,0.8-1,1.4-1.8,1.8c-0.8,0.4-1.6,0.6-2.5,0.6
c-1.5,0-2.7-0.5-3.6-1.4C406.5,127.1,406,125.7,406,123.9L406,123.9z M407.9,123.9c0,1.4,0.3,2.4,0.9,3c0.6,0.7,1.3,1,2.2,1
c0.9,0,1.6-0.3,2.2-1c0.6-0.7,0.9-1.7,0.9-3.1c0-1.3-0.3-2.3-0.9-3c-0.6-0.7-1.3-1-2.2-1c-0.9,0-1.6,0.3-2.2,1
C408.2,121.6,407.9,122.6,407.9,123.9L407.9,123.9z"></path>
									<path fill="#4D90CD" d="M419,129.2v-10.6h1.6v1.5c0.8-1.2,1.9-1.7,3.4-1.7c0.6,0,1.2,0.1,1.8,0.3c0.5,0.2,0.9,0.5,1.2,0.9
c0.3,0.4,0.5,0.8,0.6,1.3c0.1,0.3,0.1,0.9,0.1,1.7v6.5h-1.8v-6.4c0-0.7-0.1-1.3-0.2-1.6c-0.1-0.4-0.4-0.7-0.7-0.9
c-0.4-0.2-0.8-0.3-1.2-0.3c-0.8,0-1.4,0.2-2,0.7c-0.6,0.5-0.8,1.4-0.8,2.8v5.8H419L419,129.2z"></path>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="#005A9B" d="M37,105.2h1.1l16.5-38.7l17.3,38.7h1.1l22.8-52.7
c3.4-7.9,5.3-12.3,14.9-12.3v-2.5h-27v2.5h4.2c5.3,0,7.3,1.7,7.3,4.7c0,2.3-0.6,4.8-2.5,9l-14.8,34L57.4,40.2h12.4v-2.5H0v2.5h8.4
L37,105.2L37,105.2z M23.6,38.8h19.4l10.3,23.3l-9.9,23.3L23.6,38.8L23.6,38.8z"></path>
									<path fill="#005A9B" d="M144,103.3h2.3c0.3-3.3-0.2-5.8,1.9-5.8c3.1,0,6.8,6.7,19.1,6.7c12,0,21.6-9.5,21.6-23.9
c0-10.7-5.1-17.6-17.7-18.3l-5.3-0.3c-10.3-0.6-16.3-3.4-16.3-11.5c0-8.1,6.4-12.4,14.3-12.4c12.3,0,16.9,8.1,18,16.9h2l-0.6-18.5
h-2.2v1.2c0,2.2-0.2,3.3-1.1,3.3c-1.6,0-7.3-5.4-15.7-5.4c-12.1,0-19.4,8.9-19.4,20c0,16.2,9.8,17.6,19.9,18.7
c8.2,0.9,17.6,1.1,17.6,13.4c0,8.9-6.5,14.5-15.1,14.5c-16.3,0-20.4-14-21.6-21.9h-2L144,103.3L144,103.3z"></path>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="#005A9B" d="M214.4,63.6H255c0.9,0,1.4-0.5,1.4-1.4c0-6.5-9.5-27-27.8-27
c-16.9,0-29.1,19.4-29.1,34.5c0,20.5,12.7,34.5,30.9,34.5c14.3,0,24.9-9.6,27.4-23.9h-2.5c-2.2,12.7-11.8,21.4-24.9,21.4
c-14.6,0-16.2-12.4-16-23.5V63.6L214.4,63.6z M241.4,60c0,0.6-0.3,1.1-1.1,1.1h-26v-4.4c0-9.9,3.3-19.1,14.1-19.1
c10.3,0,12.9,9.2,12.9,19.1V60L241.4,60z"></path>
									<path fill-rule="evenodd" clip-rule="evenodd" class="exclamation" fill="#4D90CD" d="M123.5,84.3h-2.7l-6.3-66.4c-0.3-2.9-0.4-5.1-0.4-6.5
c0-3.4,0.8-6.2,2.4-8.3C118,1,119.9,0,122.2,0c2.2,0,4.1,1,5.6,3.1c1.6,2.1,2.4,5.2,2.4,9.3c0,1.3-0.1,3.1-0.3,5.5L123.5,84.3
L123.5,84.3z"></path>
									<path fill="#4D90CD" class="exclamation" d="M115.6,97.3c0-3.6,2.9-6.5,6.5-6.5c3.6,0,6.5,2.9,6.5,6.5c0,3.6-2.9,6.5-6.5,6.5
C118.5,103.8,115.6,100.9,115.6,97.3L115.6,97.3z"></path>
							</g>
					</svg>
					<span class="screen-reader-text">W!se</span>
			</a>
			<nav id="site-navigation" class="main-navigation fill-viewport-centered" role="navigation">
					<div class="menu-primary-menu-container">
							<ul id="menu-primary-menu" class="menu">
									<li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-23">
											<a href="https://www.wise-ny.org/">Home</a>
									</li>
									<li id="menu-item-101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-101">
											<a href="https://www.wise-ny.org/about/">About</a>
											<ul class="sub-menu">
													<li id="menu-item-241" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-241">
															<a href="https://www.wise-ny.org/about/mission-vision/">Mission &amp; Vision</a>
													</li>
													<li id="menu-item-691" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-691">
															<a href="https://www.wise-ny.org/about/history/">History</a>
													</li>
													<li id="menu-item-242" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-242">
															<a href="https://www.wise-ny.org/about/impact/">Impact</a>
													</li>
													<li id="menu-item-640" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-640">
															<a href="https://www.wise-ny.org/about/annual-report/">Annual Report</a>
													</li>
													<li id="menu-item-243" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-243">
															<a href="https://www.wise-ny.org/about/leadership/">Leadership</a>
													</li>
													<li id="menu-item-245" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-245">
															<a href="https://www.wise-ny.org/about/board/">Board</a>
													</li>
													<li id="menu-item-246" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-246">
															<a href="https://www.wise-ny.org/about/partners/">Partners</a>
													</li>
											</ul>
									</li>
									<li id="menu-item-238" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-238">
											<a href="https://www.wise-ny.org/programs-services/">Programs &amp; Services</a>
											<ul class="sub-menu">
													<li id="menu-item-256" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-256">
															<a href="https://www.wise-ny.org/programs-services/financial-literacy/">Financial Literacy</a>
															<ul class="sub-menu">
																	<li id="menu-item-257" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-257">
																			<a href="https://www.wise-ny.org/programs-services/financial-literacy/financial-literacy-certification/">Financial Literacy Certification</a>
																			<ul class="sub-menu">
																					<li id="menu-item-1471" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1471">
																							<a href="https://www.wise-ny.org/programs-services/financial-literacy/financial-literacy-certification/financial-literacy-certification-volunteer-interest/">Financial Literacy Certification Volunteer</a>
																					</li>
																			</ul>
																	</li>
																	<li id="menu-item-259" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-259">
																			<a href="https://www.wise-ny.org/programs-services/financial-literacy/moneywise/">MoneyW!SE</a>
																			<ul class="sub-menu">
																					<li id="menu-item-1473" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1473">
																							<a href="https://www.wise-ny.org/programs-services/financial-literacy/moneywise/moneywse-volunteer/">MoneyW!SE Volunteer</a>
																					</li>
																			</ul>
																	</li>
																	<li id="menu-item-258" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-258">
																			<a href="https://www.wise-ny.org/programs-services/financial-literacy/personal-finance-certification-educators/">Personal Finance Certification for Educators</a>
																	</li>
															</ul>
													</li>
													<li id="menu-item-252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-252">
															<a href="https://www.wise-ny.org/programs-services/college-career-readiness/">College &amp; Career Readiness</a>
															<ul class="sub-menu">
																	<li id="menu-item-253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-253">
																			<a href="https://www.wise-ny.org/programs-services/college-career-readiness/quality-of-life-innovations/">Quality of Life INNOVATIONS</a>
																			<ul class="sub-menu">
																					<li id="menu-item-1478" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1478">
																							<a href="https://www.wise-ny.org/programs-services/college-career-readiness/quality-of-life-innovations/quality-of-life-innovations-volunteer/">Quality of Life INNOVATIONS Volunteer</a>
																					</li>
																					<li id="menu-item-639" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-639">
																							<a href="https://www.wise-ny.org/programs-services/college-career-readiness/quality-of-life-innovations/past-winners/">Past Winners</a>
																					</li>
																			</ul>
																	</li>
																	<li id="menu-item-254" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-254">
																			<a href="https://www.wise-ny.org/programs-services/college-career-readiness/wise-institute/">W!se Institute</a>
																			<ul class="sub-menu">
																					<li id="menu-item-1482" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1482">
																							<a href="https://www.wise-ny.org/programs-services/college-career-readiness/wise-institute/wse-institute-volunteer/">W!se Institute Volunteer</a>
																					</li>
																			</ul>
																	</li>
																	<li id="menu-item-255" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-255">
																			<a href="https://www.wise-ny.org/programs-services/college-career-readiness/euro-challenge/">Euro Challenge</a>
																			<ul class="sub-menu">
																					<li id="menu-item-1484" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1484">
																							<a href="https://www.wise-ny.org/programs-services/college-career-readiness/euro-challenge/euro-challenge-volunteer/">Euro Challenge Volunteer</a>
																					</li>
																			</ul>
																	</li>
															</ul>
													</li>
													<li id="menu-item-261" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-261">
															<a href="https://www.wise-ny.org/programs-services/assessments-certifications/">Assessments &amp; Certifications</a>
													</li>
													<li id="menu-item-251" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-251">
															<a href="https://www.wise-ny.org/programs-services/services/">Services</a>
													</li>
											</ul>
									</li>
									<li id="menu-item-239" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-239">
											<a href="https://www.wise-ny.org/program-resources/">Program Resources</a>
											<ul class="sub-menu">
													<li id="menu-item-263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-263">
															<a href="https://www.wise-ny.org/program-resources/financial-literacy-certification-high-school-students/">Financial Literacy Certification for High School Students</a>
													</li>
													<li id="menu-item-264" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-264">
															<a href="https://www.wise-ny.org/program-resources/quality-of-life-innovations/">Quality of Life INNOVATIONS</a>
													</li>
											</ul>
									</li>
									<li id="menu-item-240" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-240">
											<a href="https://www.wise-ny.org/news-events/">News &amp; Events</a>
											<ul class="sub-menu">
													<li id="menu-item-265" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-265">
															<a href="https://www.wise-ny.org/news-events/news/">News</a>
													</li>
													<li id="menu-item-266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-266">
															<a href="https://www.wise-ny.org/news-events/events/">Events</a>
													</li>
													<li id="menu-item-268" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-268">
															<a href="https://www.wise-ny.org/news-events/blog/">Blog</a>
													</li>
											</ul>
									</li>
									<li id="menu-item-277" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-277">
											<a href="https://www.wise-ny.org/get-involved/">Get Involved</a>
											<ul class="sub-menu">
													<li id="menu-item-278" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-278">
															<a href="https://www.wise-ny.org/get-involved/donate/">Donate</a>
													</li>
													<li id="menu-item-279" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-279">
															<a href="https://www.wise-ny.org/get-involved/volunteer/">Volunteer</a>
													</li>
													<li id="menu-item-280" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-280">
															<a href="https://www.wise-ny.org/get-involved/start-promote-a-program/">Start/Promote a Program</a>
													</li>
													<li id="menu-item-281" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-281">
															<a href="https://www.wise-ny.org/get-involved/host-intern/">Host an Intern</a>
													</li>
													<li id="menu-item-1431" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1428 current_page_item menu-item-1431">
															<a href="https://www.wise-ny.org/get-involved/join-scholars-network/" aria-current="page">Join The Scholars Network</a>
													</li>
											</ul>
									</li>
									<li id="menu-item-779" class="show-small-only menu-item menu-item-type-post_type menu-item-object-page menu-item-779">
											<a href="https://www.wise-ny.org/shop/">Shop</a>
									</li>
									<li id="menu-item-276" class="show-small-only menu-item menu-item-type-post_type menu-item-object-page menu-item-276">
											<a href="https://www.wise-ny.org/contact/">Contact</a>
									</li>
							</ul>
					</div>
					<div class="menu-secondary-menu-container">
							<ul id="menu-secondary-menu" class="menu">
									<li id="menu-item-275" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-275">
											<a href="https://www.wise-ny.org/contact/">Contact</a>
									</li>
									<li id="menu-item-768" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-768">
											<a href="https://www.wise-ny.org/shop/">Shop</a>
									</li>
									<li id="menu-item-274" class="donate-button menu-item menu-item-type-post_type menu-item-object-page menu-item-274">
											<a href="https://www.wise-ny.org/get-involved/donate/">Donate</a>
									</li>
							</ul>
					</div>
					<a href="#" class="search-toggle is-hidden">
							<span class="search-toggle-search">
									<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
											y="0px" viewBox="0 0 225 225" enable-background="new 0 0 225 225" xml:space="preserve">
											<g>
													<path fill="#FFFFFF" d="M225,202c0,2.7,0,5.3,0,8c-2.7,7.3-7.6,12.4-15,15c-2.7,0-5.3,0-8,0c-7.3-1.2-12.4-5.7-17.3-10.9
c-6.6-7-13.6-13.7-20.4-20.6c-11.5-11.6-22.9-23.2-34.3-34.7c-18,10.2-36.7,14.6-56.6,11.2c-34.8-5.9-57.9-25.9-69.3-59.2
C2,105.2,1.3,99,0,93c0-5,0-10,0-15c0.3-0.8,0.7-1.5,0.8-2.3C6.1,38.8,27,15,62.1,3.4C67.2,1.7,72.7,1.1,78,0c5,0,10,0,15,0
c3.6,0.7,7.1,1.3,10.7,2C140,8.7,170,44.2,171.1,81.2c0.5,17.2-3.3,33.3-12.5,49.2c1.3,1,3,1.9,4.2,3.2
c17.1,17,34.1,34.2,51.3,51.2C219.2,189.7,223.8,194.7,225,202z M85.1,146.9c33,0.5,61.5-27.3,61.9-60.4
c0.4-33.7-26.7-61.5-60.6-62.2c-33.3-0.7-61.5,26.8-62.1,60.6C23.7,118.2,51.3,146.4,85.1,146.9z"></path>
											</g>
									</svg>
							</span>
							<span class="search-toggle-close">×</span>
					</a>
			</nav>
			<!-- #site-navigation -->
	</div>
	<!-- .masthead-wrapper -->
</header>
 <div id="content" class="site-content page-header fill-viewport-centered">
		<div id="primary" class="content-area">
				<main id="content-main" class="site-main" role="main">
						<article id="post-1428" class="post-1428 page type-page status-publish hentry">
								<router-outlet></router-outlet>
						</article>
				</main>
		</div>

	<div id="secondary" class="widget-area" role="complementary">
		<aside id="simple-section-nav-3" class="widget-odd widget-first widget-1 widget simple-section-nav">
				<ul>					
						<li class="page_item page-item-8">
								<a routerLink="/home">Home</a>
						</li>
						<li class="page_item page-item-8">
								<a routerLink="/personalInfo">Register</a>
						</li>
						<li class="page_item page-item-216">
							<a routerLink="/survey">Survey</a>
						</li>
						<li class="page_item page-item-8">
								<a routerLink="/preferences">Preferences</a>
						</li>
						
						<li class="page_item page-item-217">
								<a routerLink="/dashboard">Dashboard</a>
						</li>					
				</ul>
		</aside>     
	</div>	
</div>


  <footer id="site-footer" role="contentinfo" class="fill-viewport-centered">
    <div class="site-footer-wrapper">
      <a href="https://www.wise-ny.org/" rel="home" class="footer-logo">W!se</a>

      <div class="menu-footer-menu-container">
        <ul id="menu-footer-menu" class="menu">
          <li
            id="menu-item-224"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-224"
          >
            <a href="https://www.wise-ny.org/">Home</a>
          </li>
          <li
            id="menu-item-225"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-225"
          >
            <a href="https://www.wise-ny.org/about/">About</a>
          </li>
          <li
            id="menu-item-226"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-226"
          >
            <a href="https://www.wise-ny.org/programs-services/"
              >Programs &amp; Services</a
            >
          </li>
          <li
            id="menu-item-227"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-227"
          >
            <a href="https://www.wise-ny.org/program-resources/"
              >Program Resources</a
            >
          </li>
          <li
            id="menu-item-228"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-228"
          >
            <a href="https://www.wise-ny.org/news-events/">News &amp; Events</a>
          </li>
          <li
            id="menu-item-229"
            class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor menu-item-229"
          >
            <a href="https://www.wise-ny.org/get-involved/">Get Involved</a>
          </li>
          <li
            id="menu-item-780"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-780"
          >
            <a href="https://www.wise-ny.org/shop/">Shop</a>
          </li>
          <li
            id="menu-item-230"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-230"
          >
            <a href="https://www.wise-ny.org/contact/">Contact</a>
          </li>
        </ul>
      </div>
      <div class="footer-contact">
        <h6>Contact Us</h6>
        <div>
          <address>
            <a
              href="http://maps.google.com/maps?q=227%20E.%2056th%20Street%2C%20Suite%20201New%20York%2C%20NY%2010022"
              class="map-link"
              target="_blank"
              >227 E. 56th Street, Suite 201 <br />New York, NY 10022
              <br />
            </a>
          </address>
          <div class="phone-email">
            <a href="tel:1-212-421-2700" class="contact-phone">212.421.2700</a>
            <a
              href="mailto:info@wise-ny.org"
              class="contact-email"
              target="_blank"
              >info@wise-ny.org</a
            >
          </div>
        </div>
      </div>

      <div class="footer-connect">
        <h6>Connect With Us</h6>
        <ul class="social-icons">
          <li class="icon-facebook">
            <a href="https://www.facebook.com/wisenewyork" target="_blank">
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 34 34"
                enable-background="new 0 0 34 34"
                xml:space="preserve"
              >
                <path
                  fill="#81182B"
                  d="M17,0C7.6,0,0,7.6,0,17c0,9.4,7.6,17,17,17c9.4,0,17-7.6,17-17C34,7.6,26.4,0,17,0z M20.8,14.1l-0.2,2.5H18
v8.8h-3.3v-8.8h-1.8v-2.5h1.8v-1.7c0-0.8,0-1.9,0.6-2.6C15.8,9,16.6,8.5,18,8.5c2.2,0,3.2,0.3,3.2,0.3l-0.4,2.6c0,0-0.7-0.2-1.4-0.2
c-0.7,0-1.3,0.2-1.3,0.9v2H20.8z"
                ></path>
              </svg>
              <span>Facebook</span>
            </a>
          </li>
          <li class="icon-twitter">
            <a href="https://www.twitter.com/wisenewyork" target="_blank">
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 34 34"
                enable-background="new 0 0 34 34"
                xml:space="preserve"
              >
                <path
                  fill="#81182B"
                  d="M17,0C7.6,0,0,7.6,0,17c0,9.4,7.6,17,17,17c9.4,0,17-7.6,17-17C34,7.6,26.4,0,17,0z M23.8,14.4
c0,0.1,0,0.3,0,0.5c0,4.6-3.5,9.9-9.9,9.9c-2,0-3.8-0.6-5.4-1.6c0.3,0,0.6,0,0.8,0c1.6,0,3.1-0.6,4.3-1.5c-1.5,0-2.8-1-3.3-2.4
c0.2,0,0.4,0.1,0.7,0.1c0.3,0,0.6,0,0.9-0.1c-1.6-0.3-2.8-1.7-2.8-3.4v0c0.5,0.3,1,0.4,1.6,0.4c-0.9-0.6-1.6-1.7-1.6-2.9
c0-0.6,0.2-1.2,0.5-1.8c1.7,2.1,4.3,3.5,7.2,3.7c-0.1-0.3-0.1-0.5-0.1-0.8c0-1.9,1.6-3.5,3.5-3.5c1,0,1.9,0.4,2.6,1.1
c0.8-0.2,1.5-0.4,2.2-0.8c-0.3,0.8-0.8,1.5-1.5,1.9c0.7-0.1,1.4-0.3,2-0.6C25.1,13.3,24.5,13.9,23.8,14.4z"
                ></path>
              </svg>
              <span>Twitter</span>
            </a>
          </li>
          <li class="icon-youtube">
            <a href="https://www.youtube.com/user/wisenewyork" target="_blank">
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 34 34"
                enable-background="new 0 0 34 34"
                xml:space="preserve"
              >
                <g>
                  <path
                    fill="#81182B"
                    d="M15.6,24.1c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.2,0.1-0.3,0.1c-0.1,0-0.2,0-0.2-0.1c0-0.1-0.1-0.2-0.1-0.3
v-4.1h-1.1v4.5c0,0.3,0.1,0.6,0.2,0.7c0.1,0.2,0.3,0.2,0.6,0.2c0.2,0,0.4-0.1,0.6-0.2c0.2-0.1,0.4-0.3,0.6-0.5v0.6h1.1v-5.3h-1.1
V24.1z"
                  ></path>
                  <path
                    fill="#81182B"
                    d="M19.5,20c-0.2,0-0.3,0-0.5,0.1c-0.2,0.1-0.3,0.2-0.5,0.4v-2.3h-1.1v7.2h1.1V25c0.1,0.2,0.3,0.3,0.5,0.4
c0.2,0.1,0.3,0.1,0.6,0.1c0.3,0,0.6-0.1,0.7-0.3c0.2-0.2,0.2-0.5,0.2-0.9v-3c0-0.4-0.1-0.8-0.3-1C20.1,20.1,19.8,20,19.5,20z
 M19.4,24.2c0,0.2,0,0.3-0.1,0.4c-0.1,0.1-0.2,0.1-0.3,0.1c-0.1,0-0.2,0-0.2-0.1c-0.1,0-0.2-0.1-0.3-0.2v-3.3
c0.1-0.1,0.2-0.1,0.2-0.2c0.1,0,0.2,0,0.2,0c0.1,0,0.3,0,0.3,0.1c0.1,0.1,0.1,0.2,0.1,0.4V24.2z"
                  ></path>
                  <polygon
                    fill="#81182B"
                    points="9.5,19.2 10.7,19.2 10.7,25.4 11.9,25.4 11.9,19.2 13.2,19.2 13.2,18.2 9.5,18.2 	"
                  ></polygon>
                  <path
                    fill="#81182B"
                    d="M16.8,14.1c0.2,0,0.3,0,0.4-0.1c0.1-0.1,0.1-0.2,0.1-0.4v-3.2c0-0.1,0-0.2-0.1-0.3C17.1,10,17,10,16.8,10
c-0.1,0-0.3,0-0.4,0.1c-0.1,0.1-0.1,0.2-0.1,0.3v3.2c0,0.2,0,0.3,0.1,0.4C16.6,14.1,16.7,14.1,16.8,14.1z"
                  ></path>
                  <path
                    fill="#81182B"
                    d="M17,0C7.6,0,0,7.6,0,17c0,9.4,7.6,17,17,17c9.4,0,17-7.6,17-17C34,7.6,26.4,0,17,0z M19.6,9.1h1.2v4.5
c0,0.1,0,0.2,0.1,0.3c0,0.1,0.1,0.1,0.2,0.1c0.1,0,0.2,0,0.3-0.1c0.1-0.1,0.3-0.2,0.4-0.3V9.1H23V15h-1.2v-0.6
c-0.2,0.2-0.4,0.4-0.7,0.6c-0.2,0.1-0.5,0.2-0.7,0.2c-0.3,0-0.5-0.1-0.6-0.3c-0.1-0.2-0.2-0.4-0.2-0.8V9.1z M15.1,10.5
c0-0.5,0.2-0.8,0.5-1.1C15.9,9.1,16.4,9,16.9,9c0.5,0,0.9,0.1,1.2,0.4c0.3,0.3,0.5,0.6,0.5,1.1v3c0,0.5-0.2,0.9-0.5,1.2
c-0.3,0.3-0.7,0.4-1.3,0.4c-0.5,0-0.9-0.2-1.3-0.4c-0.3-0.3-0.5-0.7-0.5-1.2V10.5z M11.9,7l0.9,3.2h0.1L13.7,7H15l-1.6,4.6V15h-1.4
v-3.1L10.5,7H11.9z M28.7,23.6c0,1.8-1.5,3.3-3.3,3.3H8.7c-1.8,0-3.3-1.5-3.3-3.3v-3.4c0-1.8,1.5-3.3,3.3-3.3h16.7
c1.8,0,3.3,1.5,3.3,3.3V23.6z"
                  ></path>
                  <path
                    fill="#81182B"
                    d="M22.7,19.9c-0.5,0-0.9,0.2-1.2,0.4c-0.3,0.3-0.5,0.7-0.5,1.1v2.4c0,0.5,0.1,0.9,0.4,1.2
c0.3,0.3,0.6,0.4,1.1,0.4c0.5,0,0.9-0.1,1.2-0.4c0.3-0.3,0.4-0.7,0.4-1.2v-0.3h-1.1v0.2c0,0.3,0,0.5-0.1,0.6
c-0.1,0.1-0.2,0.1-0.4,0.1c-0.2,0-0.3,0-0.4-0.2c-0.1-0.1-0.1-0.3-0.1-0.6v-1h2v-1.4c0-0.5-0.1-0.9-0.4-1.2
C23.6,20.1,23.2,19.9,22.7,19.9z M23.1,22h-0.9v-0.5c0-0.2,0-0.4,0.1-0.5c0.1-0.1,0.2-0.2,0.4-0.2c0.2,0,0.3,0.1,0.4,0.2
c0.1,0.1,0.1,0.3,0.1,0.5V22z"
                  ></path>
                </g>
              </svg>
              <span>YouTube</span>
            </a>
          </li>
          <li class="icon-linkedin">
            <a
              href="https://www.linkedin.com/company/working-in-support-of-education"
              target="_blank"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xml:space="preserve"
                viewBox="0 0 34 34"
                version="1.1"
                y="0px"
                x="0px"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                enable-background="new 0 0 34 34"
              >
                <path
                  d="m17 0c-9.4 0-17 7.6-17 17s7.6 17 17 17 17-7.6 17-17-7.6-17-17-17zm-4.8 24.1h-3.3v-10.6h3.3v10.6zm-1.7-11.9c-1.2 0-2-0.8-2-1.8s0.8-1.8 2-1.8 2 0.8 2 1.8-0.7 1.8-2 1.8zm15 11.9h-3.8v-5.5c0-1.4-0.6-2.4-1.9-2.4-1 0-1.5 0.7-1.8 1.3v0.9 5.7h-3.7v-10.6h3.7v1.7c0.2-0.7 1.4-1.8 3.3-1.8 2.4 0 4.2 1.5 4.2 4.8v5.9z"
                  fill="#81182B"
                ></path>
              </svg>
              <span>LinkedIn</span>
            </a>
          </li>
          <li class="icon-instagram">
            <a href="https://instagram.com/wisenewyork/" target="_blank">
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 34 34"
                enable-background="new 0 0 34 34"
                xml:space="preserve"
              >
                <g>
                  <path
                    fill="#81182B"
                    d="M17,20c1.7,0,3-1.3,3-3c0-0.7-0.2-1.3-0.6-1.7C18.9,14.5,18,14,17,14s-1.9,0.5-2.4,1.2
C14.2,15.8,14,16.4,14,17C14,18.7,15.4,20,17,20z"
                  ></path>
                  <polygon
                    fill="#81182B"
                    points="23.5,13.3 23.5,10.8 23.5,10.5 23.2,10.5 20.7,10.5 20.7,13.4 	"
                  ></polygon>
                  <path
                    fill="#81182B"
                    d="M17,0C7.6,0,0,7.6,0,17c0,9.4,7.6,17,17,17c9.4,0,17-7.6,17-17C34,7.6,26.4,0,17,0z M25.5,15.3v7
c0,1.8-1.5,3.3-3.3,3.3H11.8c-1.8,0-3.3-1.5-3.3-3.3v-7v-3.5c0-1.8,1.5-3.3,3.3-3.3h10.4c1.8,0,3.3,1.5,3.3,3.3V15.3z"
                  ></path>
                  <path
                    fill="#81182B"
                    d="M21.7,17c0,2.6-2.1,4.7-4.7,4.7c-2.6,0-4.7-2.1-4.7-4.7c0-0.6,0.1-1.2,0.3-1.7h-2.5v7
c0,0.9,0.7,1.6,1.6,1.6h10.4c0.9,0,1.6-0.7,1.6-1.6v-7h-2.5C21.5,15.8,21.7,16.4,21.7,17z"
                  ></path>
                </g>
              </svg>
              <span>Instagram</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  <footer id="copyright-and-legal" class="fill-viewport-centered">
    <div class="footer-legal">
      <p class="copyright">
        ©2019 Working in Support of Education
        <br />
        <span>&nbsp;|&nbsp;</span>
        <a href="https://www.wise-ny.org/privacy-policy/">Privacy Policy</a>
        <span>&nbsp;|&nbsp;</span>
        <a href="https://www.wise-ny.org/sitemap/">Sitemap</a>
      </p>
    </div>
  </footer>

